@import '@fontsource-variable/noto-sans';
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Noto Sans Variable', sans-serif;
    background-color: black;
}

#square{
    display: grid;
    grid-template-areas: 
    "seccion1 seccion2"
    "footer  footer"
    ;
}

#section1{
    grid-area: seccion1;
}

#section2{
    grid-area: seccion2;
}

#foot{
    grid-area:footer;
}

